* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    outline: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #eee;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}


.product {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.price {
    font-size: 1.2rem;
    color: green;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Butonlar ve diğer elemanlar arasına boşluk ekler */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.amount {
    font-size: 1rem;
}