* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    outline: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #eee;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    /* gap: 15px; */
}


.product {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
    width: calc(33.333% - 10px);
    flex: 1;
}

.product h6 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product .price {
    font-size: 20px;
}

.product .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.price {
    font-size: 1.2rem;
    color: green;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Butonlar ve diğer elemanlar arasına boşluk ekler */
}

.actions .btn2 {
    background-color: #61dafb;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.actions .btn1 {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    font-weight: 500;

}

/* button:hover {
    background-color: #0056b3;
} */

.amount {
    font-size: 1rem;
    font-weight: bold;
    border: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background: linear-gradient(to bottom, #20b820, #14be2a);
    height: 60px;
    display: Flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    position: sticky;
    top: 0;
}

.header span {
    margin: 0 10px;
    font-weight: bold;
}